.align{
    margin: auto;
    width: 30%;
    padding: 10px;
}
.outputs{
	font: bold 100px monospace;
	color: lightgray;
	display: inline-block;
	border-radius: 5px;
	padding: 2px 5px;
	background-color: rgba(0, 0, 0, 0.5);
}